@{
    ViewData["Title"] = "About this Website:";
}
<h2>@ViewData["Title"]</h2>


<p>This website serves as the final project for CIDM 3312 (Advanced Business Programming)
for the Fall 2018 semester at West Texas A&M University.</p>
</br>
<p>It attempts to showcase my understanding of concepts covered in the class, such as the ability
to integrate Entity Framework and SQLite Core into a persistent web application.
As a means of preparing to take the capstone software development cource offered in the College of Business's
Computer Information Systems program (Software Systems Development) in the Spring of 2019, I have attempted to deploy the site via Azure.
This site attempts to represent the student organization 'Buffteks', which serves as means for students
to enhance their development abilities. In so doing, it attempts to allow you to do several things:</p>
</br>
<p>
    The ability to:</br>
     -- CREATE</br>
     -- READ</br>
     -- UPDATE</br>
     -- DELETE</br>
records for the "Members", "Clients", and "Projects" entites (as seen in the navbar above)</p>
