@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Alex Roder</br>
    19601 FM 2590</br>
    Canyon, TX 79015
</address>

<address>
<strong>Support:</strong> <a href="ajroder2@buffs.wtamu.edu">ajroder2@buffs.wtamu.edu</a><br />
</address>
