<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Retro - Bootstrap Theme</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/css?family=Montserrat|Shrikhand" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css">

  </head>
  <body>

  
<div class="jumbotron bg-secondary text-center text-danger mb-0 radius-0">
  <div class="container">
    <div class="ht-tm-header">
      <h1 class="display-1 display-xxl text-uppercase">Buffteks</h1>
      

      <div class="mt-4">
        <a href="/Members"
           target="/Members"
           class="btn btn-danger btn-lg m-2 text-secondary btn-ht-dl-message">
          <span>Members</span>
        </a>

        <a href="/Projects"
           target="/Projects"
           class="btn btn-danger text-secondary btn-lg m-2">
          <span>Projects</span>
          
        </a>

        <a href="/Clients"
           target="/Clients"
        class="btn btn-danger text-secondary btn-lg m-2">
        <span>Clients</span>
        </a>

        <a href="/Home/About"
           target="/Home/About"
        class="btn btn-danger text-secondary btn-lg m-2">
        <span>About</span>
        </a>

        <a href="/Home/Contact"
           target="/Home/Contact"
        class="btn btn-danger text-secondary btn-lg m-2">
        <span>Contact</span>
        </a>

        



      </div>
    </div>
  </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
